a {
    text-decoration: none;
}

.box {
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000;
}

.climb-box {
    margin-left: auto;
    margin-right: auto;
}

.climbImage {
    display: block;
    max-height: 60vh !important;
    width: auto !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
}

.notes {
    border-bottom: 1px solid #dbdbdb;
}

.footer-text {
    margin-bottom: 0 !important;
}